{% extends 'base/base.html' %}
{% block title %}Articles - {{ SITE_NAME }}{% endblock %}
{% load staticfiles %}

{% block custom_bread %}
    <section>
        <div class="wp">
            <ul class="crumbs">
                <li><a href="/">Index</a>></li>
                <li><a href="{% url 'blog:blog_article_list' %}">Article List</a></li>
            </ul>
        </div>
    </section>
{% endblock %}


{% block content %}
    <section>
        <div class="wp butler_list_box list">
            <div class='left'>
                <div class="listoptions">
                    <ul>
                        <li>
                            <h2>方向</h2>
                            <div class="cont">
                                <a href="?c_category={{ city_id }}"><span
                                        class="{% ifequal p_category_id '' %}active2{% endifequal %}">全部</span></a>
                                {% for p_category in all_p_categories %}
                                    <a href="?p_category={{ p_category.id }}&c_category={{ c_category_id }}">
                                        <span class="{% ifequal p_category_id p_category.id|stringformat:'i' %}active2{% endifequal %}">{{ p_category.name }}</span>
                                    </a>
                                {% endfor %}
                            </div>
                        </li>
                        <li>
                            <h2>技术栈</h2>
                            <div class="more">更多</div>
                            <div class="cont">
                                <a href="?p_category={{ p_category_id }}"><span
                                        class="{% ifequal c_category_id '' %}active2{% endifequal %}">全部</span></a>
                                {% for c_category in all_c_categories %}
                                    <a href="?p_category={{ p_category_id }}&c_category={{ c_category.id }}">
                                        <span class="{% ifequal c_category_id c_category.id|stringformat:'i' %}active2{% endifequal %}">{{ c_category.name }}</span>
                                    </a>
                                {% endfor %}
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="all">共<span class="key">{{ article_nums }}</span>篇</div>
                <div class="butler_list company list">
                    <div class="layout">
                        <div class="head">
                            <ul class="tab_header">
                                <li class="{% if sort == '' %}active{% endif %}"><a
                                        href="?ct={{ category }}&city={{ city_id }}">全部</a></li>
                                <li class="{% if sort == 'students' %}active{% endif %}"><a
                                        href="?sort=students&ct={{ category }}&city={{ city_id }}">学习人数 &#8595;</a></li>
                                <li class="{% if sort == 'courses' %}active{% endif %}"><a
                                        href="?sort=courses&ct={{ category }}&city={{ city_id }}">课程数 &#8595;</a></li>
                            </ul>
                        </div>
                        {#            {% for course_org in all_orgs.object_list %}#}
                        {% for article in all_articles.object_list %}
                            <dl class="des difdes">
                                <dt>
                                    <a href="{% url 'blog:blog_article_detail' article.id %}">
                                        <img id="logo" width="200" height="120" class="scrollLoading"
                                             data-url="{{ MEDIA_URL }}{{ article.image }}"/>
                                    </a>
                                </dt>
                                <dd>
                                    <div class="clearfix">
                                        <a href="{% url 'blog:blog_article_detail' article.id %}">
                                            <h1>{{ article.title }}</h1>
                                            <div class="pic fl">

                                                <img src="{% static 'images/authentication.png' %}"/>

                                                <img src="{% static 'images/gold.png' %}"/>

                                            </div>
                                        </a>
                                    </div>
                                    <ul class="cont">
                                        <li class="first">
                                            <p class="pic9">By: <span>{{ article.teacher.name }}</span></p>
                                            <p class="c7">Created on:
                                                <span>{{ article.created_time|date:"F d, Y" }}</span></p>
                                            <p class="c7">Viewed: <span>{{ article.click_nums }}</span></p>
                                        </li>
                                        <li class="c8" style="padding-left:18px;">Module: {{ article.category.name }}
                                            - {{ article.category.parent_category.name }}</li>
                                        <li class="pic10" style="padding-left:18px;">
                                            Tags:
                                            {% for tag in article.tag.all %}
                                                {{ tag.name }} |
                                            {% endfor %}
                                        </li>
                                    </ul>
                                </dd>
                                <div class="buy start_groupbuy jsShowPerfect2" data-id="22"><br/>联系<br/>服务</div>
                            </dl>
                        {% endfor %}
                    </div>
                    <div class="pageturn">
                        <ul class="pagelist">
                            {% if all_articles.has_previous %}
                                <li class="long"><a
                                        href="?{{ all_articles.previous_page_number.querystring }}">Previous</a>
                                </li>
                            {% endif %}

                            {% for page in all_articles.pages %}
                                {% if page %}
                                    {% ifequal page all_articles.number %}
                                        <li class="active"><a href="?{{ page.querystring }}">{{ page }}</a></li>
                                    {% else %}
                                        <li><a href="?{{ page.querystring }}" class="page">{{ page }}</a></li>
                                    {% endifequal %}
                                {% else %}
                                    <li class="none"><a href="">...</a></li>
                                {% endif %}
                            {% endfor %}

                            {% if all_articles.has_next %}
                                <li class="long"><a href="?{{ all_articles.next_page_number.querystring }}">Next</a>
                                </li>
                            {% endif %}

                        </ul>
                    </div>
                </div>
            </div>
            {#            <div class="right companyright">#}
            {#                <div class="head">我要学习</div>#}
            {#                <form class="rightform" id="jsStayForm">#}
            {#                    <div>#}
            {#                        <img src="{% static 'images/rightform1.png' %}"/>#}
            {#                        <input type="text" name="name" id="companyName" placeholder="名字" maxlength="25"/>#}
            {#                    </div>#}
            {#                    <div>#}
            {#                        <img src="{% static 'images/rightform2.png' %}"/>#}
            {#                        <input type="text" name="mobile" id="companyMobile" placeholder="联系电话"/>#}
            {#                    </div>#}
            {#                    <div>#}
            {#                        <img src="{% static 'images/rightform3.png' %}"/>#}
            {#                        <input type="text" name="course_name" id="companyAddress" placeholder="课程名" maxlength="50"/>#}
            {#                    </div>#}
            {#                    <p class="error company-tips" id="jsCompanyTips"></p>#}
            {#                    <input class="btn" type="text" id="jsStayBtn" value="立即咨询 >"/>#}
            {#                    {% csrf_token %}#}
            {#                </form>#}
            {#            </div>#}
            <div class="right companyrank layout">
                <div class="head">Newly Added</div>
                {% for latest_article in latest_articles %}
                    <dl class="des">
                        <dt class="num fl">{{ forloop.counter }}</dt>
                        <dd>
                            <a href="/company/2/"><h3>{{ latest_article.title }}</h3></a>
                            <p>Viewed: {{ latest_article.click_nums }}</p>
                            <p>Added on: {{ latest_article.created_time|date:"M/d Y" }}</p>
                        </dd>
                    </dl>
                {% endfor %}
            </div>
            <div class="right companyrank layout">
                <div class="head">Most Viewed in this month</div>
                {% for hot_article in hot_articles %}
                    <dl class="des">
                        <dt class="num fl">{{ forloop.counter }}</dt>
                        <dd>
                            <a href="/company/2/"><h3>{{ hot_article.title }}</h3></a>
                            <p>Click Count: {{ hot_article.click_nums }}</p>
                            <p>Click Count: {{ hot_article.click_nums }}</p>
                        </dd>
                    </dl>
                {% endfor %}
            </div>
            <div class="right companyrank layout">
                <div class="head">Related Articles</div>
                {% for current_org in hot_orgs %}
                    <dl class="des">
                        <dt class="num fl">{{ forloop.counter }}</dt>
                        <dd>
                            <a href="/company/2/"><h1>{{ current_org.name }}</h1></a>
                            <p>{{ current_org.address }}</p>
                        </dd>
                    </dl>
                {% endfor %}
            </div>


        </div>
    </section>
{% endblock %}

{% block custom_js %}
    <script>
        $(function () {
            $('#jsStayBtn').on('click', function () {
                $('#jsCompanyTips').html("");
                $.ajax({
                    cache: false,
                    type: "POST",
                    url: "{% url "org:add_ask" %}",
                    data: $('#jsStayForm').serialize(),
                    async: true,
                    success: function (data) {
                        if (data.status == 'success') {
                            $('#jsStayForm')[0].reset();

                            alert("提交成功")
                        } else if (data.status == 'fail') {
                            $('#jsCompanyTips').html(data.msg)
                        }
                    },
                });
            });
        })

    </script>
{% endblock %}